@import "tailwindcss";

:root {
  --background: #F9F7F5;
  --foreground: #5E5836;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-andalus);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #F9F7F5;
    --foreground: #5E5836;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-andalus), Arial, Helvetica, sans-serif;
}
